/*
!.gitignore
!/gerejakatolikparokisantamarialahat/
/gerejakatolikparokisantamarialahat/panorama/
/gerejakatolikparokisantamarialahat/audio/
/gerejakatolikparokisantamarialahat/video/
/gerejakatolikparokisantamarialahat/video 360
